doctype html
html(lang='en')
    head
        title Three.js :: Clock
        // build:css styles/main.css
        link(rel='stylesheet', type='text/css', href='../styles/main.css', media='all')
        // endbuild
    body
        canvas#canvas
        // build:js scripts/main.bundle.js
        script(type='text/javascript', src= '../scripts/index.bundle.js')
        // endbuild